
[class="container-md"]{
  
  border: 3px solid rgb(29, 134, 29);
  
}

.debug{
  background-color: aquamarine;
  border: 2px solid rgb(0, 140, 255);
}

.altezza{
  height: 300px;
}
header{
  height: 90px;
  color: white;
  background-color: rgb(1, 67, 96);
}
.container-ev{
  width: 500px;
  margin: 0 auto;
}

section{
  width: 100%;
  background-color: salmon;
  border: 3px solid purple;
}
.avatar{
  width: 90%;
}

